EXPO_PUBLIC_SUPABASE_URL=https://imofcovytgqykwbgiujq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here
EXPO_PUBLIC_TRUELAYER_REDIRECT_URI=https://native-app-blush.vercel.app/api/truelayer/callback
